
        html {
            height: 100%;
        }

        body {
            margin: 10px;
            padding: 10px;
            height: 100%;
            font-family: Arial, Helvetica, sans-serif;
            background: black;
            color: white;
        }

        a {
           color: white;
           text-decoration:none;
        }

        #playerContainer {
            width: 960px;
            height: 540px;
            border: 5px solid #FFF;
            display: inline-block;
            margin-top: 5px;
        }

        #videoplayer {
            width: 100%;
            height: 100%;
            position: relative;
  }
  
   #play-btn {
        background-color: black;
        color: white;
    }
    
    #pause-btn {
        background-color: black;
        color: white;
    }
    
    #golive-btn {
        background-color: black;
        color: white;
    }
    
    #mute-btn {
        background-color: black;
        color: white;
    }
    
    #unmute-btn {
        background-color: black;
        color: white;
    }

    #cc-off-btn {
        background-color: black;
        color: white;
    }

    #cc-on-btn {
        background-color: black;
        color: white;
    }

    #setVol-btn {
        background-color: black;
        color: white;
    }
