
body {
  font-family: "Source Sans Pro";
}

header {
  background: black;
  overflow: auto; 
  padding: 0 40px;
  border-bottom: 5px solid yellow;
}

 header h1 {
  float: left;
  color: yellow;
  font-family: "Merriweather", serif;
}

header nav {
  float: right;
  margin-top: 25px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
}

.taste {
  color: gray;
  text-decoration: line-through;
}

.are {
  border-bottom: 3px solid yellow;
}

.tagline {
  text-align: center;
  font-family: "Merriweather";
  background-color: #C6C6C6;
  font-size: 25px;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image {
  background-image: url(../img/coworking.jpg);
  background-size: cover;
  overflow: auto;
  border: 1px solid black;
  height: 500px;

}

.content {
  float: right;
  margin-left: 750px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: rgba(240, 240, 240, 0.76);
  height: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 250px;
  border: 1px solid black;
}

.button {
  text-transform: uppercase;
  font-family: "Oswald";
  background: yellow;
  border-radius: 5px;
  color: black;
  text-align: center;
  padding-top: 20px;
  height: 50px;
}

#action {
  border: 1px solid black;
  background: #C6C6C6;
  width: 100%;

}

.box {
  height: 250px;
  width: 30.80%;
  background: white;
  font-family: "Merriweather", serif;
  font-size: 15px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

#profile {
  float: left;
  text-align: left;
}

#developer {
  float: left;
  text-align: left;
  border-right: 2px solid gray;
  border-left: 2px solid gray;
}

#designer {
  float: left;
  text-align: left;
}

.button-gray {
  text-transform: uppercase;
  font-family: "Oswald";
  background: gray;
  border-radius: 5px;
  color: black;
  text-align: center;
  padding-top: 20px;
  height: 50px;
}



h3 {
  font-family: "Source Sans Pro";

}

h4 {
  color: white;

}

footer {
  background: black;
  height: 50px;
  padding-top: 3px;
}

.clear {
  clear: both;
}
