/******************************************
/* SETUP
/*******************************************/

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0px 0px 10px 10px; 

}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #000;
  font-size: 55px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;


}

#container {
  display: inline-block;
  width: 960px;
  margin: auto;
  align-items: center;
}

#headline {
  padding: 0 10px 10px 0;

}

header {
  background: #033048
}

h1 {
  color: white;
  float: left;
  margin-top: 10px;
  padding-left: 50px;
  font-weight: 800;
}

nav {
  float: right;
  padding: 0 0 10px 10px;
}

a {
  text-decoration: none;
  color: #f9e42e;
  font-weight: 600;
  font-size: 24px;
}

h2 {
  font-weight: 600; 
  font-size: 40px;
}

#content {
  padding-left: 50px;
  padding-right: 670px;
  padding-top: 50px;
}




/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */







footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/




