
body {
  color: #000;
  font-size: 55px;
  line-height: 1.4;
  font-family: sans-serif;
  text-decoration: none;


}

#container {
  display: inline-block;
  width: 960px;
  margin: auto;
  align-items: center;
}

.headline {
  padding: 0 10px 10px 0;

}

header {
  background: #033048
}

h1 {
  color: white;
  float: left;
  margin-top: 10px;
  padding-left: 50px;
  font-weight: 800;
}

.nav {
  float: right;
  padding: 0 0 10px 10px;
}

a {
  text-decoration: none;
  color: #f9e42e;
  font-weight: 300;
  font-size: 24px;
}

#content {
  padding-left: 50px;
  padding-right: 670px;
  padding-top: 50px;
  margin: auto;
  width: 700px;
}

h2 {
  font-weight: 600; 
  font-size: 40px;
}

p{
  font-size: 24px
}

p:first-letter { 
  font-size: 48px;
  font-weight: 800;
}

#sidebar {
  width: 240px;
  font-weight: 800:
  font-size: 32px;
  float: right;
}

sub {
  padding-right: 50px;

}


footer {

}


