.wrapper {
	text-align: center;
}

body {
  margin-top: 50px;
}

header {
  top: 0;
  height: 50px;
	background: blue;
  position: fixed;
  width: 100%;
  transition: all 2s; ease-in-bounce;

}

.scrolled {
  background: red;
  font-size: 30px;
  color: white;

}
