
body {
  font-family: "Source Sans Pro";
}

header {
  background: black;
  overflow: auto; 
  padding: 0 40px;
  border-bottom: 5px solid yellow;
}

 header h1 {
  float: left;
  color: yellow;
  font-family: "Merriweather", serif;
}

header nav {
  float: right;
  margin-top: 25px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20px;
}

.tagline {
  text-align: center;
  font-family: "Merriweather";
  background-color: #C6C6C6;
  font-size: 25px;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image {
  background-image: url(../img/coworking.jpg);
  background-size: cover;
  overflow: auto;
  border: 1px solid black;

}

.content {
  float: right;
  margin-left: 750px;
  margin-right: 50px;
  margin-bottom: 150px;
  margin-top: 50px;
  background-color: rgba(240, 240, 240, 0.76);
  height: 200px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 250px;
  border: 1px solid black;
}

#action {
  border: 1px solid black;
  background: #C6C6C6;
  width: 100%;
}

.box {
  height: 500px;
  width: 31%;
  background: #C6C6C6;
  font-family: "Merriweather", serif;
  font-size: 15px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

#profile {
  float: left;
  text-align: left;
}

#developer {
  float: left;
  text-align: left;
}

#designer {
  float: left;
  text-align: left;
}
